/*thi stylee sheet atteched to menu.html*/
* {
    margin: 5px;
    padding-left: 0;
}
body {
    background-color: blue;
}
.wrapper{
    margin: 0 auto 0 60px;
    width: 1000px;
    background-color: brown;
}
nav {
    width: 100%;
    height: auto;
background-color: tomato;
}
ul {
    margin-left: 0px;
}
ul li {
    display: inline-block;
list-style: none;
padding: 0 20px;
}
ul li a {
    display: block;
text-decoration: none;
font-size: medium;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
ul li a:hover {
    color: chartreuse;
}