    h1 {
        color: royalblue;
        font-size: 70px;
        margin: 0%;
        background-color: seagreen;
        text-align: center;

    }
    h2 {
        color: red;
        font-size: 30px;
        text-align: end;
    }
    /*
    .index-intro p {
        
            color: blueviolet;
            font-size: 50px;
            text-align: end;
            background-color: rgb(10, 150, 50);
        
    }*/
    #index-intro p {
        color: burlywood;
        background: blue;
    }
    
div h1 {
    color: #001254;
    font-size: 25px;
}

.index-h2 {
    color: #111111;
    background-color: royalblue;
    font-size: larger;

}
.p-welcome {
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(17, 224, 45);
    font-style: oblique;
}