    h1 {
        color: royalblue;
        font-size: 70px;
        margin: 0%;
        background-color: seagreen;
        text-align: center;

    }
    h2 {
        color: red;
        font-size: 30px;
        text-align: center;
    }
    p {
        color: #ffff00;
        font-size: 50px;
        text-align: end;
        background-color: rgb(10, 50, 50);
    }
    
div h1 {
    color: #001254;
    font-size: 25px;
}